<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row" style="margin-top: 6%;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="display:flex;">
                        <h5 class="card-title">Jobs Details</h5>
                        <!-- Button trigger modal -->

                        <!-- <button type="button" class="btn btn-secondary btn-lg" disabled >Staff Add</button> -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>job number</th>
                                    <th>job title</th>
                                    <th>job start date</th>
                                    <th>job close date</th>
                                    <th>experience required</th>
                                    <th>number of openings</th>
                                    <th>job notes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let job of jobs">

                                    <td>{{job['job_number']}}</td>
                                    <td>{{job['job_title']}}</td>
                                    <td>{{job['job_start_date']}}</td>
                                    <td>{{job['job_close_date']}}</td>
                                    <td>{{job['experience_required']}}</td>
                                    <td>{{job['number_of_openings']}}</td>
                                    <td>{{job['job_notes']}}</td>
                                    <td>
                                        <button class="btn btn-warning" [routerLink]="['/jobs/edit', job['id']]">                                            
                                            <i class='fa fa-pencil' ></i>
                                        </button>
                                        <button class="btn btn-danger" (click)="deletejob(job['id'])">                                            
                                            <i class="fa fa-trash"  aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</section>